* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  width: 80%;
  height: 100vh;
}

.logo {
  width: 40%;
  border-right: 20px solid #D0303C;
}
.logo img {
  width: 100%;
  filter: invert(1);
}

#todo-list {
  padding-left: 50px;
  padding-top: 50px;
  width: 60%;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

#todo-list ul {
  margin-top: 20px;
}

#todo-list li {
  margin-top: 10px
}

.send {
  border: 1px solid white;
  border-radius: 6%;
  background-color: black;
  color: white;
  padding: 5px 5px;
}

.send:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.5s;
}

.delete {
  border: none;
  background-color: black;
  color: #D0303C;
}

:focus { outline: none; }
